.minimal-button {
  background-color: #86d3ff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.minimal-button:hover {
  background-color: #2693e6;
  box-shadow: 0px 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}